html,
body {
  min-height: 100%;
}

main {
  margin-top: 100px;
  margin-bottom: 50px;
  min-height: 400px;
}

#formlog {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 20px;
  margin-top: 5%;
}

h1 {
  text-align: center;
}

h2 {
  text-shadow: 2px 2px #000000;
}

h3 {
  text-shadow: 2px 2px 4px #000000;
}

#assine {
  text-shadow: 2px 2px #000000;
}
